*{
    margin: 2%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page2{
    display: flex;
}
.container1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 400px;
    height: 600px;
    justify-content: space-between;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
}
.back-main{
    display: flex;
    padding: 4px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.back-main:hover{
    background-color: aqua;
}
.main1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name{
    font-size: medium;
    color: deepskyblue;
}
.meeting{
    font-size: larger;
    font-weight: 600;
    color: black;
    margin-top: -8px;
    width: 100%;
}
.main2{
    display: flex;
    align-items: center;
}
.clock{
    /* color: deepskyblue; */
}
.minute{
    font-size: medium;
    color: deepskyblue;
    margin-left: 4px;
}
.meeting{
    font-size: larger;
    color: black;
    font-weight: 600;
}
.cookie-report{
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}
.cookie{
    font-size: small;
    color: deepskyblue;
}
.report{
    font-size: small;
    color: black;
}
.cookie:hover{
    
}

.container2{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 400px;
    height: 600px;
    justify-content: space-between;
}
.home2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
}
.select{
    font-size: medium;
    color: black;
    font-weight: 600;
    width: 100%;
}
.next-back{
    display: flex;
    gap: 20%;
}
.back{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
    align-items: center;
}
.back:hover{
    background-color: aqua;
}
.march{
    font-size: small;
    color: black;
}
.next{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
    align-items: center;
}
.next:hover{
    background-color: aqua;
}
.time-zone{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
    align-items: center;
}
.time{

}
.zone{

}
.map-icone{

}
.location{

}
.select-zone{

}


