*{
    margin: 2%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container1{
    display: flex;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    width: 700px;
    height: 600px;
}
.page1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
    justify-content: space-between;
}
.home1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
}
.back-main{
    display: flex;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    cursor: pointer;
}
.back-main:hover{
    background-color: aqua;
}
.main1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name{
    font-size: medium;
    color: deepskyblue;
}
.meeting{
    font-size: larger;
    font-weight: 600;
    color: black;
    margin-top: -8px;
    width: 100%;
}
.main2{
    display: flex;
    align-items: center;
}
.clock{
    /* color: deepskyblue; */
}
.minute{
    font-size: medium;
    color: deepskyblue;
    margin-left: 4px;
}
.meeting{
    font-size: larger;
    color: black;
    font-weight: 600;
}
.cookie-report{
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}
.cookie{
    font-size: small;
    color: deepskyblue;
}
.report{
    font-size: small;
    color: black;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


.page2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
}
.select{
    font-size: medium;
    color: black;
    font-weight: 600;
    width: 100%;
}
.calendar{

}
.next-back{
    display: flex;
    gap: 20%;
}
.back{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
    cursor: pointer;
}
.back:hover{
    background-color: aqua;
}
.march{
    font-size: small;
    color: black;
}
.next{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
    cursor: pointer;
}
.next:hover{
    background-color: aqua;
}
.week-day{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: small;
    color: black; 
}
.week{
    display: flex;
    justify-content: center;
}
.day1{
    display: flex;
    gap: 12%;
    justify-content: center;
}
.day2{
    display: flex;
    gap: 8%;
    justify-content: center;
}
.day3{
    display: flex;
    gap: 7%;
    justify-content: center;
}
.day4{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.day5{
    display: flex;
    gap: 8%;
    justify-content: end;
}
.a22{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
}
.a22:hover{
    background-color: aqua;
}    
.time-zone{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;    
}
    
.time{

}
.zone{
    display: flex;
    font-size: small;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
    justify-content: center;
    cursor: pointer;
}
.zone:hover{
    background-color: aqua;
}
.map-icone{

}
.location{

}
.close-icon{

}


