*{
    margin: auto;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container1{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    width: 700px;
    height: 600px;
}
.page1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.home1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
}
.back-main{
    display: flex;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}
.back-main:hover{
    background-color: aqua;
}
.main1{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: medium;
    color: deepskyblue;
}
.meeting{
    font-size: larger;
    font-weight: 600;
    color: black;
    margin-top: -8px;
    width: 300px;
}
.main2{
    display: flex;
    align-items: center;
}
.clock{
    /* color: deepskyblue; */
}
.minute{
    font-size: medium;
    color: deepskyblue;
    width: 70px;
    margin-left: 4px;
}
.meeting{
    font-size: larger;
    color: black;
    font-weight: 600;
}
.cookie-report{
    display: flex;
    justify-content: space-between;
}
.cookie{
    font-size: small;
    color: deepskyblue;
}
.report{
    font-size: small;
    color: black;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.*/

.line{
    display: flex;
    border-left: 1px solid gray;
    height: 634px;
    margin-top: -100%;
    margin-left: 100%;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.*/

.page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}
.select{
    font-size: medium;
    color: black;
    font-weight: 600;
    width: 100%;
}
.calendar{
    display: flex;
    flex-direction: column;
}
.next-back{
    display: flex;
    align-items: center;
}
.back{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
    cursor: pointer;
}
.back:hover{
    background-color: aqua;
}
.march{
    font-size: small;
    color: black;
}
.next{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
    cursor: pointer;
}
.next:hover{
    background-color: aqua;
}
.week-day{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: small;
    color: black; 
}
.week{
    display: flex;
    justify-content: center;
}
.day1{
    display: flex;
    gap: 12%;
    justify-content: center;
}
.day2{
    display: flex;
    gap: 8%;
    justify-content: center;
}
.day3{
    display: flex;
    gap: 7%;
    justify-content: center;
}
.day4{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.day5{
    display: flex;
    gap: 8%;
    justify-content: end;
}
.a22{
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 249, 249);
    justify-content: center;
}
.a22:hover{
    background-color: aqua;
}    
.time-zone{
    display: flex;
    flex-direction: column;
}
.time{
    font-size: 16px;
    color: black;
}
.zone{
    display: flex;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    width: 350px;
    margin-top: -5px;
}
.zone:hover{
    background-color: aqua;
}
.map-icone{
    display: flex;
    width: 20px;
    height: 20px;
}
.location{
    font-size: 12px;
    color: black;
    margin-left: -12px;
}
.close-icon{
    display: flex;
    width: 14px;
    height: 14px;
    margin-left: -12px;
}


